.container1{
    color:blue;
    text-align: center;
    font-family: 'Lucida Sans';
}

.press{
    border: 5px dotted red;
    padding: 10px;
    width: 50%;
   margin: 0 auto;
}

button{
    border-radius: 5px;
}

#Answer{
    margin-top: 50px;
    color: rgb(28, 150, 48);
    font-size: 30px;
    font-weight: bold;
}